* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #191919;
  color: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --large-display-container: 70%;
  --midium-display-container: 86%;
  --small-display-container: 90%;
}

.container {
  max-width: var(--large-display-container);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: var(--midium-display-container);
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: var(--small-display-container);
  }
}
