.btn {
  background-color: #000;
  color: #fff;
  padding: 2rem 5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  transition: all 0.3s ease;
  margin: 1rem auto;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
